@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
#particles-js{
	width: 100%;
	height: 100%;
	position: absolute;
}
body{
	margin: 0;
	padding: 0;
	overflow: hidden;

}

header{
  display: none;
	background-color: black;
	width: 100%;
height: 50px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
 z-index: 1;
 top: 0;
 position: fixed;
}
.container {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  height: 30em;
  font-family: Montserrat, sans-serif;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid lightgray;
  margin: 0 0 20px 0;
  background-color: white;
}

h1 {
  margin-bottom: 10px;
}

img {
  margin: 10px 0 0 0;
  width: 125px;
  height: 125px;
  border-radius: 50%;

}

span {
margin: 0;
padding: 0;
  font-size: 1.5em;
}

ul {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 5%;

}
.fade-in-image { animation: fadeIn 5s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.tiktok{
  color: black;
}
.tiktok:clicked{
  color: rgb(254, 44, 85);
}
.tiktok:visited{
 color: rgb(254, 44, 85);
}
ul > li {

  text-decoration: none;
  list-style-type: none;
  font-size: 40px;
margin: 20px;
}
 i.fa-facebook {
    color: #3b5998; /* Facebook color */
  }

  i.fa-github {
    color: #24292e; /* GitHub color */
  }

  i.fa-youtube {
    color: #ff0000; /* YouTube color */
  }

  i.fa-instagram {
    color: #c0407a; /* Instagram color */
  }
 li:hover {
    animation: bounce 1s infinite;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.5);
    }

    100% {
      transform: scale(1);
    }
  }

}

.action-btn{
display: flex;
position: absolute;
justify-items: center;
width: 100%;
display: flex;
z-index: 9999999;
}
.other{
  background-color: black;
  width: 100%;
  height: 2em;

  bottom: 0;
  position: absolute;
left: 0%;
border: 1px solid whitesmoke;
border-radius: 10px;
color: whitesmoke;
  animation: float 2s ease-in-out infinite;

}
.other:hover{
  transition: 0.5s;
border: 1px solid black;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

